#!/bin/sh

set -e

CONFIG_FILE=/etc/default/pioneers-metaserver
# Note: the package was called 'pioneers-meta-server in Debian 6
#       the package is called 'pioneers-metaserver in Debian 7
# TODO: Remove the code related to OLD_CONFIG_FILE for Debian 8 and later
OLD_CONFIG_FILE=/etc/default/pioneers-meta-server

. /usr/share/debconf/confmodule

# Get current values of the settings.
if [ -r "$CONFIG_FILE" ] ; then
	. "$CONFIG_FILE" || true
elif [ -r "$OLD_CONFIG_FILE" ] ; then
	. "$OLD_CONFIG_FILE" || true
	if [ ! -z META_SERVER_NAME ]; then
		METASERVER_NAME="$META_SERVER_NAME"
	fi
	if [ ! -z META_SERVER_ARGS ]; then
		METASERVER_ARGS="$META_SERVER_ARGS"
	fi
	rm $OLD_CONFIG_FILE
fi

# Parse values from the config file and use them as defaults.
db_set pioneers-metaserver/ports "$PORT_RANGE"
db_set pioneers-metaserver/name "$METASERVER_NAME"
db_set pioneers-metaserver/arguments "$METASERVER_ARGS"

# Ask the questions.
db_input low pioneers-metaserver/ports || true
db_go

db_get pioneers-metaserver/ports
if [ ! -z "$RET" ] ; then
	db_input low pioneers-metaserver/name || true
fi
db_input low pioneers-metaserver/arguments || true
db_go
