#!/usr/bin/make -f
# -*- makefile -*-
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export DH_OPTIONS

export DEB_BUILD_HARDENING=1

%:
	dh $@

override_dh_auto_configure:
	./autogen.sh --prefix=/usr --bindir=/usr/games --mandir=/usr/share/man \
		--enable-warnings \
		--disable-dependency-tracking \
		--disable-deprecation-checks

override_dh_install:
	rsvg --width 32 --height 32 client/gtk/data/pioneers.svg pioneers32.png
	convert pioneers32.png pioneers.xpm
	rm pioneers32.png
	rsvg --width 32 --height 32 server/gtk/pioneers-server.svg pioneers-server32.png
	convert pioneers-server32.png pioneers-server.xpm
	rm pioneers-server32.png
	rsvg --width 32 --height 32 editor/gtk/pioneers-editor.svg pioneers-editor32.png
	convert pioneers-editor32.png pioneers-editor.xpm
	rm pioneers-editor32.png
	install -D -m644 pioneers.xpm debian/tmp/usr/share/pixmaps/pioneers-client.xpm
	install -D -m644 pioneers-server.xpm debian/tmp/usr/share/pixmaps/pioneers-server.xpm
	install -D -m644 pioneers-editor.xpm debian/tmp/usr/share/pixmaps/pioneers-editor.xpm
	dh_install

override_dh_clean:
	-rm pioneers.xpm
	-rm pioneers-server.xpm
	-rm pioneers-editor.xpm
	dh_clean

