#!/bin/sh -e

FILE=/etc/default/pioneers-console

. /usr/share/debconf/confmodule

# Get current values of the settings.
test ! -r "$FILE" || . "$FILE"

# This function will read variable $1 and set it as default to debconf
# question $2.  If the variable $1 is unset or empty, the template's default
# will be used.
function conffile_parse
{
	variable="$1"
	question="$2"
	# Read the default from the config file.
	default="`eval 'echo $'"$variable"`"

	# Correct boolean values so debconf understands them.
	if [ "$default" ] ; then
		db_metaget "$question" type
		if [ "$RET" = boolean ] ; then
			case "$default" in
			yes|Yes|YES|true|True|TRUE|1)
				default=true
				;;
			no|No|NO|false|False|FALSE|0)
				default=false
				;;
			*)
				echo "Warning: value '$default' of variable '$variable' not a boolean: ignored."
				default=
				;;
			esac
		fi
	fi

	# If we still have a default to set, do so.
	if [ "$default" ] ; then
		db_set "$question" "$default"
	fi
}

# Parse values from the config file and use them as defaults.
conffile_parse PORT_RANGE pioneers-console/meta-server-ports low
conffile_parse META_SERVER_NAME pioneers-console/meta-server-name low
conffile_parse META_SERVER_ARGS pioneers-meta-server/meta-server-args low
conffile_parse RUN_META_SERVER pioneers-console/run-meta-server low

# Ask the questions.
db_input low pioneers-console/run-meta-server || true
db_go
db_get pioneers-console/run-meta-server
if [ "$RET" = false ] ; then exit 0 ; fi

db_input low pioneers-console/meta-server-ports || true
db_go

db_get pioneers-console/meta-server-ports
if [ ! -z "$RET" ] ; then
	db_input low pioneers-console/meta-server-name || true
fi
db_input low pioneers-meta-server/meta-server-args || true
db_go
